body {
	background-color: #5ab325;
	position: relative;
	margin: 0;
	color: #ffffff;
	font-size: 20px;
	font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
}
a {
	color: #fedc19;
}

#content { 
	position: relative;
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
/*
#content div {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
*/
#bg_green {
	background: url('images/bg_green.png');
	background-repeat: repeat-x;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1000;
}
#top_leaves {
	width: 100%;
	height: 100px;
	background-image: url('images/bg_leaves.png');
	background-repeat: repeat-x;
	z-index: -998;
}
#top_clouds {
/*
	margin-top: 100px;
*/
	width: 100%;
	height: 200px;
	background-image: url('images/bg_clouds.png');
	background-position: center;
	background-repeat: repeat-x;
	position: absolute;
	z-index: -999;
}
#top_logo {
	margin-top: -100px;
	background-image: url('images/title.png');
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: center;
	height: 600px;
}
#description {
	position: relative;
	margin-top: 0px;
	/*
	position: absolute;
	width: 480px;
	*/
	font-size: 24px;
	background-color: #9CD117;
	padding: 24px;
}
#trailer {
	position: relative;
	display: block;
	width: 960px;
	margin-left: 16px;
	/*
	margin-right: 24px;
	position: absolute;
	left: 500px;
	margin-top: 48px;
	*/
	background-color: #9CD117;
	padding: 24px 20px 8px 20px;
	border: 3px solid white;
}
#trailer img {
	display: none;
}
#screenshots {
	margin-left: 80px;
}
#thumbnails {
	width: 180px;
}
#thumbnails img {
	margin-top: 16px;
	border: 2px solid white;
}
#original {
	position: absolute;
	left: 300px;
	margin-top: -450px;
}
#original img {
	border: 4px solid white;
}
#features {
	position: relative;
	margin-top: 24px;
	font-size: 20px;
	background-color: #9CD117;
	padding: 24px;
}
#buy {
	padding-top: 48px;
}
#steam {
	position: absolute;
	left: 540px;
}
#buy a{
	position: relative;
	width: 400px;
	height: 120px;
	background-color: #9CD117;
	padding-left: 24px;
}
#buy img {
	padding-right: 48px;
}
#downloads {
	display: none;
	/*
	position: absolute;
	top: 400px;
	*/
	position: relative;
	width: 480px;
	height: 120px;
	left: 540px;
	top: -180px;
}
#downloads h3 {
	margin-top: 46px;
}
#downloads a {
	text-decoration: none;
}
#downloads img {
	vertical-align: middle;
	display:inline-block;
}
#downloads span {
	margin-right: 20px;
}
#subscribe {
	position: relative;
	width: 480px;
	height: 60px;
	left: 540px;
	top: -80px;
}
#subscribe label {
	font-size: 20px;
}
#greenlight {
	display: none;
	margin-top: 20px;
	margin-left: 50px;
	position: relative;
}
#greenlight p {
	position: absolute;
	left: 350px;
	top: 50px;
	font-size: 30px;
	color: #ffffff;
}
#awards {
	background-image: url('images/awards.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 70px;
	margin-bottom: 32px;
}
#reviews {
	background-image: url('images/reviews.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	height: 1024px;
	margin-top: 96px;
}
#follow {
	margin-left: 80px;
}#presskit {
	margin-left: 20px;
}
#bottom_forest {
	background-image: url('images/bg_forest.png');
	background-repeat: repeat-x;
	background-position: center;
	width: 100%;
	height: 800px;
	bottom: 0px;
	position: absolute;
	z-index: -999;
}
footer {
	color: #ffffff;
	font-size: 20px;
	text-align: center;
}
